
header {
    height: 100px;
   
    color:hotpink;
    text-align:center;
    padding:5px;
    font-family: arial;	 
    background-image: url(http://25.media.tumblr.com/tumblr_m0g2w6VOnM1qdh06ao1_1280.png) 

}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    height: 600px;
    float:left;
    padding:10px;
    background-color: light-grey; 
}


footer {
    background-color:grey;
    color:pink;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


