
header {
    height: 100px;
    background-color:grey;
    color:hotpink;
    text-align:center;
    padding:5px;
    font-family: arial;	 
    background-image: url(http://25.media.tumblr.com/tumblr_m0g2w6VOnM1qdh06ao1_1280.png) 

}
nav {
    line-height:30px;
    background-color:#eeeeee;
    
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    
    float:left;
    padding:10px;
    background-image: url(	 	 
}
footer {
    background-color:grey;
    color:pink;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


