
header {
    background-color:grey;
    color:magenta;
    text-align:center;
    padding:5px;
    font-family: arial;	 
    background-image: url(http://saraberrenson.files.wordpress.com/2012/06/floral_chevron4_shop_preview.png) 

}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:grey;
    color:pink;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


