
header {
    height: 100px;
  
    color:hotpink;
    text-align:center;
    padding:10px;
    font-family: arial;	 
    background-image: url(http://www.prettyunexpected.com/wp-content/uploads/2013/09/Knitted-pattern-grey.jpg) 

}

h1 {
text-align: center;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 620px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:100%;
    height: 600px;  
    padding:10px;
    background-color: blue; 
    font-family: arial;
}


footer {
    background-color:grey;
    color:teal;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


