body {
font-family: arial;
font-size: 20pt;
color: black;
text-align: center;
background-color: light-grey;

}

main {
background-color: pink;
width: 500;
height: 400px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

aside {
text-align: center;
}