body {
	background-color: white;
	}
h1 { 
	Color: purple;
	font-size: 30pt;
	}

th#high { 
	background-color: purple;
	color: white;
	}
th#medium { 
	background-color: skyblue;
	color: white;
	}	
th#low { 
	background-color: hotpink;
	color: white;
	}	
ul#a {
	list-style-type: checkmark;
	}