body {
	background-color: white;
	font-family: arial;
	}
h1 { 
	Color: purple;
	font-size: 30pt;
	}

th#high { 
	background-color: purple;
	color: white;
	}
th#medium { 
	background-color: skyblue;
	color: white;
	}	
th#low { 
	background-color: hotpink;
	color: white;
	}	
li#laundry {
	text-decoration: line-through;
	}
li#coms {
	text-decoration: line-through;
	}
li#groceries {
	text-decoration: line-through;
	}
	
	
