body {
font-family: arial;
font-size: 20pt;
color: black;
background-color: grey;

}

main {
background-color: pink;
width: 500;
height: 400px;
margin-left: auto;
margin-right: auto;
overflow: auto;


}

ul#tasklist {
list-style-type: none;
}



aside {
text-align: center;
}


doneTask = function() {
this.parentNode.className = "done"
}


